.ModList {
  background-color: lightgrey;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
}

.ModList__item {
  background-color: lightblue;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.ModList__item p, .ModList__item h3 {
  margin: 0 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1000px;
}